
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0em;
  padding:0em;
}
body {
  background-image: url("../img/winds.jpg");
  background-position: 0em 10em;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: helvetica, sans-serif;
  font-size: 1em;
  margin: 0em;
}
.container {
  position: relative;
  display: block;
  margin: 0em;
  border: .1em solid green;
}
.navBar {
  position: relative;
  width:100%;
  background-color: rgba(172, 190, 170,1);
  height: 10em;
  padding: 20px 20px 20px 20px;
  margin-bottom: 1em;
  border: .1em solid yellow;
}
